@font-face {
  font-family: adobe-font;
  src: url(./fonts/Adobe\ Caslon\ Pro\ Semibold.ttf);
  color: #414141;
}

@font-face {
  font-family: massimo-font;
  src: url(./fonts/Massimo-Light.ttf);
  color: #414141;  
}

html{
  scroll-behavior: smooth;
}

.language-active{
  border: none;
  background-color: transparent;
  font-weight: 800;
  border: 3px solid #414141;
  font-size: 15px;
}

.language-deactive{
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.language-deactive:hover{
  background-color: #C7C7C7;
  transition: .5s;
}

.topnav{
  display: none;
}

.menu-section{
  position:fixed;
  z-index: 1000;
  background-color: white;
  margin-top: -10px;
}

.hr-divider{
  margin-top: -20px;
}

.hr-divider-crooked-left{
  margin-left: 240px;
}


.presentation-data, .home-video{
  width: 1000px;
  margin-left: 200px;
  margin-right: 200px;
}

.presentation-data-home{
  width: 1000px;
  margin-left: 230px;
  margin-right: 200px;
}

.presentation-data{
  margin-left: 250px;
}

.hr-treatment{
  margin-top: -30px;
}

.therapy-type{
float: left;
font-size: large;
text-align: right;
}

.personal-info{
 float: right;
 font-size: smaller;
 text-align: right;
}

nav{
  margin-left: -40px;
}

.navbar-items{
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 400px;
  padding-bottom: 25px;
}

.no-underlined-links{
  text-decoration: none;
  font-size: 15px;
  color: #414141;
}

.home-video{
  margin-top: 150px;
  animation-duration: 3s;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.above-words, .below-words{
  color: white;
  letter-spacing: 5px;
}

.above-words{
  font-size: 25px;
  margin-bottom: 100px;
  margin-top: 120px;
  animation-duration: 1.5s;
}

.below-words{
  font-size: 50px;
  margin-top: 320px;
  animation-duration: 2.5s;
}

.about-me-container, .contact-me-container, .my-approach-container, .contact-me-container-my-approach{
  display: flex;
  justify-content: center;
}

.about-me-container{
  margin-left: -45px;
}

.about-me-padding{
  padding: 20px;
  margin-top: -50px;
}

.about-me-text{
  font-size: medium;
  width: 350px;
}

.my-approach-container{
  width: 1000px;
  margin-left: 230px;
}

.approach-img{
  margin-left: 250px;
  width: 1000px;
  margin-top: 170px;
}

.my-approach-text{
  margin-left: 20px;
}

.read-more-button{
  border: none;
  background-color: transparent;
  font-size: medium;
}

.specializations-title{
  margin-left: 230px;
  font-size: 45px;
}

.div-helper{
  margin-top: -25px;
}

.articles-container{
  margin-left: 40px;
}

.articles {
  width: 200px;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 185px;
  margin-bottom: 30px
}

.articles-titles{
  font-style: italic;
  font-size: xx-large;
  justify-content: flex-start;
}

.div-helper-underline{
  margin-top: -35px;
}

.adobe-font{
  font-family: adobe-font;
}

.massimo-font, .massimo-font-bold{
  font-family: massimo-font;
}

.massimo-font-bold{
  font-weight: 900;
}

.subtitle{
  font-size: 45px;
}

.subtitle-my-approach{
  margin-left: 250px;
}

.article-my-approach{
  margin-left: 200px;
  margin-right: 200px;
}

.resources-title-container, .treatment-title-container{
  height: 250px;
  background-color: #414141;
  margin-top: 150px;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
}

.resources-title, .treatment-title{
  display: flex;
  justify-content: left;
  margin-left: 50px;
  color: white;
  margin-top: 100px;
  font-size: 40px;
  width: 600px;
  animation-duration: 6s;
}

.treatment-title{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.treatment-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resources-section{
  width: 900px;
  margin-left: 320px;
  margin-right: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resources-links{
  margin-top: 5px;
}

.treatment-article-agenda, .treatment-article-duration, .treatment-article-payment{
  width: 900px;
  margin-left: -100px;
}

.treatment-title-article, .resources-section-title{
  color: #414141;
  font-style: italic;
  font-size: xx-large;
}

.resources-section-title{
  margin-bottom: -2px;
}

.resources-section-article{
  width: 400px;
  padding: 20px;
}

.contact-me-container{
  width: 800px;
  margin-left: 240px;
}

.contact-title{
  margin-left: 230px;
  font-size: 45px;
}

.contact-title-my-approach{
  margin-left: 250px;
  font-size: 45px;
}

.contact-logos{
  display: inline-flex;
  margin-top: 20px;
}

.contact-text{
  font-size: 20px;
  margin-left: 20px;
}

.contact-logos-imgs{
  width: 80px;
  height: 80px;
  padding: 20px;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: #414141;
  margin-left: -50px;
  margin-top: 20px;
  margin-right: -8px;
  margin-bottom: -10px;
  padding: 20px;
}

.footer-text{
  color: #C7C7C7;
}

.bottomMenu{
  width: 400px;
  height: 500px;
}

.gray-color{
  color: #414141;
}
















/* Media Querys */

/* Desktop */
@media only screen and (min-width: 992px) and (max-width: 1410px){

  .language-active, .language-deactive{
    font-size: 25px;
  }

  .no-underlined-links{
    font-size: 25px;
  }

  main, .menu-section{
    margin-left: 50px; 
  }

  .therapy-type{
    font-size: 35px;
  }

  .navbar-items{
    width: 60%;
    margin-left: 300px;
  }

  nav{
    width: 100%;
  }

  .presentation-data, .home-video{
    width: 1000px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .presentation-data{
    margin-left: 250px;
  }

  .hr-helper{
    margin-left: 300px;
  }

  .hr-divider{
    width: 1000px;
  }

  .home-video{
    margin-top: 200px;
  }

  .presentation-data-home{
    width: 1000px;
  }
  

  .above-words{
    font-size: 30px;
    margin-top: 250px;
  }

  .below-words{
    font-size: 40px;
    margin-top: 400px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    margin-left: 700px;
    margin-right: 700px;
  }

  .about-me-text{
    font-size: xx-large;
  }

  .bottomMenu{
    width: 600px;
    height: 800px;
    margin-top: 100px;
  }

  .read-more-button{
    font-size: 30px;
  }

  .subtitle{
    font-size: 45px;
  }

  .specializations-title {
    font-size: 45px;
    width: 100%;
    margin-left: 230px;
  }

  .articles-titles{
    width: 100%;
    font-size: 40px;
    margin-right: 330px;
  }

  .articles-container{
    width: 900px;
  }

  .articles{
    width: 100%;
  }

  .div-helper-underline {
    margin-right: 700px;    
  }

  .contact-title {
    font-size: 45px;
    margin-left: 230px;
    width: 100%;
  }

  .contact-img{
    width: 300px;
    height: 500px;
  }

  .contact-me-container {
    width: 900px;
    margin-left: 220px;
  }

  .contact-title-my-approach{
    font-size: 45px;
    margin-left: 300px;
  }

  .contact-me-container-my-approach{
    width: 900px;
    margin-left: 290px;
  }

  .contact-logos{
    width: 100%;
  }

  .contact-logos-imgs{
    width: 100px;
    height: 100px;    
  }

  .massimo-font{
    font-size: x-large;
  }

  .article-home-text{
    font-size: 30px;
  }

  .contact-text{
    font-size: 25px;
  }

  .footer{
    display: flex;
    justify-content: center;
    background-color: #414141;
    margin-left: -50px;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: -15px;
    padding: 20px;
    width: 1560px;
  }
  
  .footer-text{
    color: #C7C7C7;
  }

  .hr-divider{
    margin-right: 70px;
    margin-top: 50px;
  }

  .resources-title-container{
    margin-left: 400px;
    height: 300px;
  }

  .treatment-section{
    display: flex;
    justify-content: center;
    margin-left: 390px;
  }

  .treatment-title-article{
    font-size: 40px;
    margin-top: 50px;
  }

  .treatment-text{
    font-size: 30px;
  }

  .presentation-data-treatment{
    margin-left: 450px;
  }

  .resources-section-title{
    font-size: 40px;
  }

  .resources-links{
    font-size: 25px;
  }

  .my-approach-container{
    width: 1000px;
    margin-left: 280px;
  }

  .subtitle-my-approach{
    margin-left: 300px;
    width: 100%;
  }

  .my-approach-text{
    font-size: 30px;
  }

  .hr-divider-approach-section{
    margin-left: 450px;
  }

  .treatment-title, .resources-title{
    font-size: 45px;
    margin-top: 90px;
    width: 750px;
  }

  .treatment-title-container, .resources-title-container{
    margin-left: 300px;
    width: 1000px;
    height: 350px;
  }

  .resources-section {
    margin-left: 280px;
  }

  .resources-section-article {
    width: 900px;
  }

  .approach-img{
    margin-left: 300px;
    height: 450px;
  }

  .resources-title{
    margin-top: 180px;
    font-size: 40px;
  }

}



/* Tablet */

@media only screen and (min-width: 830px) and (max-width: 992px) {

  .language-active, .language-deactive{
    font-size: 25px;
  }

  .no-underlined-links{
    font-size: 25px;
  }

  main, .menu-section{
    margin-left: 50px; 
  }

  .therapy-type{
    font-size: 35px;
  }

  .navbar-items{
    width: 60%;
    margin-left: 300px;
  }

  nav{
    width: 100%;
  }

  .presentation-data, .home-video{
    width: 1000px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .presentation-data{
    margin-left: 250px;
  }

  .hr-helper{
    margin-left: 300px;
  }

  .hr-divider{
    width: 1000px;
  }

  .home-video{
    margin-top: 200px;
  }

  .presentation-data-home{
    width: 1000px;
  }
  

  .above-words{
    font-size: 30px;
    margin-top: 250px;
  }

  .below-words{
    font-size: 40px;
    margin-top: 400px;
  }

  .second{
    display: none;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    margin-left: 700px;
    margin-right: 700px;
  }

  .bottomMenu{
    width: 600px;
    height: 800px;
    margin-top: 100px;
  }

  .read-more-button{
    font-size: 30px;
  }

  .subtitle{
    font-size: 50px;
  }

  .specializations-title {
    font-size: 50px;
    width: 150%;
    margin-left: 230px;
  }

  .articles-titles{
    width: 100%;
    font-size: 45px;
    margin-right: 330px;
  }

  .articles-container{
    width: 900px;
  }

  .articles{
    width: 100%;
  }

  .div-helper-underline {
    margin-right: 700px;    
  }

  .contact-title {
    font-size: 50px;
    margin-left: 230px;
    width: 100%;
  }

  .contact-img{
    width: 300px;
    height: 500px;
  }

  .contact-me-container {
    width: 900px;
    margin-left: 280px;
  }

  .contact-title-my-approach{
    font-size: 50px;
    margin-left: 300px;
  }

  .contact-me-container-my-approach{
    width: 900px;
    margin-left: 350px;
  }

  .contact-logos{
    width: 100%;
  }

  .contact-logos-imgs{
    width: 100px;
    height: 100px;    
  }

  .massimo-font{
    font-size: x-large;
  }

  .article-home-text{
    font-size: 35px;
  }

  .contact-text{
    font-size: 35px;
  }

  .footer{
    display: flex;
    justify-content: center;
    background-color: #414141;
    margin-left: -50px;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: -15px;
    padding: 20px;
    width: 1560px;
  }
  
  .footer-text{
    color: #C7C7C7;
  }

  .hr-divider{
    margin-right: 70px;
    margin-top: 50px;
  }

  .resources-title-container{
    margin-left: 400px;
    height: 300px;
  }

  .treatment-section{
    display: flex;
    justify-content: center;
    margin-left: 600px;
  }

  .treatment-title-article{
    font-size: 45px;
    margin-top: 50px;
  }

  .treatment-text{
    font-size: 35px;
    width: 800px;
  }

  .presentation-data-treatment{
    margin-left: 450px;
  }

  .resources-section-title{
    font-size: 50px;
  }

  .resources-links{
    font-size: 35px;
  }

  .my-approach-container{
    width: 1000px;
    margin-left: 280px;
  }

  .subtitle-my-approach{
    font-size: 50px;
    margin-left: 300px;
    width: 100%;
  }

  .my-approach-text{
    font-size: 35px;
  }

  .hr-divider-approach-section{
    margin-left: 450px;
  }

  .treatment-title, .resources-title{
    font-size: 50px;
    margin-top: 90px;
    width: 750px;
  }

  .treatment-title-container, .resources-title-container{
    margin-left: 300px;
    width: 1000px;
    height: 370px;
  }

  .resources-section {
    margin-left: 280px;
  }

  .resources-section-article {
    width: 900px;
  }

  .approach-img{
    margin-left: 300px;
    height: 450px;
  }

  .resources-title{
    margin-top: 180px;
    font-size: 50px;
  }

  .about-me-text{
    font-size: 30px;
  }
 
}

/* Mini Tablet */
@media only screen and (min-width: 480px) and (max-width: 830px) {

 
  .language-active, .language-deactive{
    font-size: 40px;
  }

  .no-underlined-links{
    font-size: 35px;
  }

  main, .menu-section{
    margin-left: 50px; 
  }

  .therapy-type{
    font-size: 50px;
  }

  .navbar-items{
    width: 65%;
    margin-left: 250px;
  }

  nav{
    width: 100%;
  }

  .presentation-data, .home-video{
    width: 1000px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .presentation-data{
    margin-left: 250px;
  }

  .hr-helper{
    margin-left: 300px;
  }

  .hr-divider{
    width: 1000px;
  }

  .home-video{
    margin-top: 250px;
  }

  .presentation-data-home{
    width: 1000px;
  }
  

  .above-words{
    font-size: 30px;
    margin-top: 250px;
  }

  .below-words{
    font-size: 40px;
    margin-top: 400px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    margin-left: 700px;
    margin-right: 700px;
  }

  .bottomMenu{
    width: 600px;
    height: 800px;
    margin-top: 300px;
  }

  .read-more-button{
    font-size: 45px;
  }

  .subtitle{
    font-size: 70px;
  }

  .specializations-title {
    font-size: 70px;
    width: 150%;
    margin-left: 230px;
  }

  .articles-titles{
    width: 100%;
    font-size: 60px;
    margin-right: 330px;
  }

  .articles-container{
    width: 900px;
  }

  .articles{
    width: 100%;
  }

  .div-helper-underline {
    margin-right: 700px;    
  }

  .contact-title {
    font-size: 70px;
    margin-left: 230px;
    width: 100%;
  }

  .contact-img{
    width: 300px;
    height: 500px;
  }

  .contact-me-container {
    width: 900px;
    margin-left: 280px;
  }

  .contact-title-my-approach{
    font-size: 70px;
    margin-left: 300px;
    width: 100%;
  }

  .contact-me-container-my-approach{
    width: 900px;
    margin-left: 350px;
  }

  .contact-logos{
    width: 100%;
  }

  .contact-logos-imgs{
    width: 100px;
    height: 100px;    
  }

  .massimo-font{
    font-size: x-large;
  }

  .article-home-text{
    font-size: 50px;
  }

  .contact-text{
    font-size: 35px;
  }

  .footer{
    display: flex;
    justify-content: center;
    background-color: #414141;
    margin-left: -50px;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: -15px;
    padding: 20px;
    width: 1560px;
  }
  
  .footer-text{
    color: #C7C7C7;
  }

  .hr-divider{
    margin-right: 70px;
    margin-top: 50px;
  }

  .resources-title-container{
    margin-left: 400px;
    height: 300px;
  }

  .treatment-section{
    display: flex;
    justify-content: center;
    margin-left: 800px;
  }

  .treatment-title-article{
    font-size: 60px;
    margin-top: 50px;
  }

  .treatment-text{
    font-size: 50px;
    width: 950px;
  }

  .presentation-data-treatment{
    margin-left: 450px;
  }

  .resources-section-title{
    font-size: 60px;
  }

  .resources-links{
    font-size: 50px;
  }

  .my-approach-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: 280px;
  }

  .subtitle-my-approach{
    font-size: 70px;
    margin-left: 300px;
    width: 100%;
  }

  .my-approach-text{
    font-size: 50px;
  }

  .hr-divider-approach-section{
    margin-left: 450px;
  }

  .treatment-title, .resources-title{
    font-size: 60px;
    margin-top: 90px;
    width: 750px;
  }

  .treatment-title-container, .resources-title-container{
    margin-left: 300px;
    width: 1000px;
    height: 420px;
  }

  .resources-section {
    margin-left: 280px;
  }

  .resources-section-article {
    width: 900px;
  }

  .approach-img{
    margin-left: 300px;
    height: 450px;
  }

  .resources-title{
    margin-top: 180px;
    font-size: 70px;
  }

  .about-me-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 40px;
    width: 500px;
  }

  .second{
    display: none;
  }

}

/* Mobile */
@media only screen and (max-width: 480px) {

   
  .language-active, .language-deactive{
    font-size: 40px;
  }

  .no-underlined-links{
    font-size: 35px;
  }

  main, .menu-section{
    margin-left: 50px; 
  }


  .therapy-type{
    font-size: 50px;
  }

  nav{
    display: none;
  }

  .presentation-data, .home-video{
    width: 1000px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .presentation-data{
    margin-left: 250px;
  }

  .hr-helper{
    margin-left: 300px;
  }

  .hr-divider{
    width: 1000px;
  }

  .home-video{
    margin-top: 270px;
    height: 650px;
  }

  .presentation-data-home{
    width: 1000px;
  }
  

  .above-words{
    font-size: 30px;
    margin-top: 250px;
  }

  .below-words{
    font-size: 40px;
    margin-top: 400px;
  }

  .read-more-button{
    font-size: 70px;
    margin-left: 30px;
  }

  .subtitle{
    font-size: 90px;
    margin-left: 60px;
  }

  .specializations-title {
    font-size: 90px;
    width: 200%;
    margin-left: 220px;
  }

  .articles-titles{
    width: 100%;
    font-size: 80px;
    margin-right: 330px;
  }

  .articles-container{
    width: 900px;
    margin-left: 40px;
  }

  .articles{
    width: 100%;
  }

  .div-helper-underline {
    margin-right: 700px;    
  }

  .contact-title {
    font-size: 90px;
    margin-left: 230px;
    width: 150%;
  }

  .contact-img{
    width: 300px;
    height: 500px;
  }

  .contact-me-container {
    width: 900px;
    margin-left: 280px;
  }

  .contact-title-my-approach{
    font-size: 90px;
    margin-left: 300px;
    width: 100%;
  }

  .contact-me-container-my-approach{
    width: 900px;
    margin-left: 350px;
  }

  .contact-logos{
    width: 100%;
  }

  .contact-logos-imgs{
    width: 100px;
    height: 100px;    
  }

  .massimo-font{
    font-size: x-large;
  }

  .article-home-text{
    font-size: 70px;
  }

  .contact-text{
    font-size: 40px;
  }

  .footer{
    display: flex;
    justify-content: center;
    background-color: #414141;
    margin-left: -50px;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: -15px;
    padding: 20px;
    width: 1560px;
  }
  
  .footer-text{
    color: #C7C7C7;
  }

  .hr-divider{
    margin-right: 70px;
    margin-top: 50px;
  }

  .resources-title-container{
    margin-left: 400px;
    height: 300px;
  }

  .treatment-section{
    display: flex;
    justify-content: center;
    margin-left: 800px;
  }

  .treatment-title-article{
    font-size: 80px;
    margin-top: 50px;
  }

  .treatment-text{
    font-size: 70px;
    width: 950px;
  }

  .presentation-data-treatment{
    margin-left: 450px;
  }

  .resources-section-title{
    font-size: 80px;
  }

  .resources-links{
    font-size: 70px;
  }

  .my-approach-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: 280px;
  }

  .subtitle-my-approach{
    font-size: 90px;
    margin-left: 300px;
    width: 150%;
  }

  .my-approach-text{
    font-size: 70px;
  }

  .hr-divider-approach-section{
    margin-left: 450px;
  }

  .treatment-title, .resources-title{
    font-size: 90px;
    margin-top: 90px;
    width: 750px;
  }

  .treatment-title-container, .resources-title-container{
    margin-left: 300px;
    width: 1000px;
    height: 850px;
  }

  .resources-title-container{
    height: 330px;
  }

  .resources-section {
    margin-left: 280px;
  }

  .resources-section-article {
    width: 900px;
  }

  .approach-img{
    margin-left: 300px;
    height: 550px;
  }

  .resources-title{
    margin-top: 150px;
    font-size: 90px;
  }

  .bottomMenu{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 1300px;
    margin-top: 100px;
    margin-left: 60px;
  }

  .about-me-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 700px;
  }

  .about-me-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 70px;
    width: 1000px; 
    margin-left: 70px;
  }

  .second{
    display: none;
  }

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  display: block;
  margin-bottom: -100px;
  margin-left: 120px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #414141;
  padding: 30px;
  text-decoration: none;
  font-size: 50px;
  font-weight: 900;
  height: 80px;
  font-family: massimo-font;
  display: block;
  margin-left: 100px;
}

/* Style the hamburger menu */
.topnav a.icon {
  color: #414141;
  background: white;
  display: block;
  position: absolute;
  margin-right: 200px;
  top: 0;
  font-size: 60px;
}

/* Style the active link (or home/logo) */
.active {
  background-color:transparent;
  color: transparent;
  border: none;
}  

}















/* Home-Img */

@media only screen and (min-width: 1390px) and (max-width: 1410px){

  .centered{
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1390px){


  .centered{
   margin-left: 400px;
  }
}


@media only screen and (min-width: 1175px) and (max-width: 1250px){


  .centered{
   margin-left: 450px;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1175px){

  .centered{
   margin-left: 500px;
  }
}

@media only screen and (min-width: 930px) and (max-width: 1050px){


  .centered{
   margin-left: 550px;
  }
}

@media only screen and (min-width: 840px) and (max-width: 930px){

  .centered{
   margin-left: 600px;
  }
}

@media only screen and (min-width: 831px) and (max-width: 840px){


  .centered{
   margin-left: 650px;
  }
}

@media only screen and (min-width: 725px) and (max-width: 831px){


  .centered{
   margin-left: 450px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 725px){

  .centered{
   margin-left: 500px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 640px){


  .centered{
   margin-left: 550px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 550px){

  .centered{
   margin-left: 600px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 480px){

  .centered{
   margin-left: 550px;
  }
}